<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">
    <!-- 根据指定包,寻找Mapper接口生成实现Dao对象 -->
    <bean
            class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage"
                  value="org.mapper">
        </property>
        <property name="sqlSessionFactory" ref="ssf">
        </property>
    </bean>

    <!-- 定义SqlSessionFactory对象 -->
    <bean id="ssf"
          class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dbcp">
        </property>
        <!-- 指定SQL定义文件 -->
        <property name="mapperLocations"
                  value="classpath:mybatis/*Mapper.xml">
        </property>
    </bean>

    <!-- 读取数据库配置信息 -->
    <util:properties id="jdbc" location="classpath:properties/db.properties" />
    <!-- 定义DataSource对象 -->
    <bean id="dbcp"
          class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="#{jdbc.driver}" />
        <property name="url" value="#{jdbc.url}" />
        <property name="username" value="#{jdbc.user}" />
        <property name="password" value="#{jdbc.pwd}" />
    </bean>


    <!-- 配置hibernate -->
    <!-- 配置sessionFactory-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <!-- 数据源-->
        <property name="dataSource" ref="dbcp">
        </property>
        <!-- 设定扫描Hibernate 实体类的包名-->
        <property name="packagesToScan">
            <list>
                <value>org.*.entity</value>
            </list>
        </property>
        <!-- 设定Hibernate映射文件的位置 -->
        <!-- Hibernate 一些常用属性的设置 -->
        <property name="hibernateProperties">
            <!-- 设置Hibernate方言 -->
            <props>
                <!-- 设置Hibernate方言-->
                <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
                <!-- 是否打印sql -->
                <prop key="hibernate.show_sql">false</prop>
                <!-- 是不是格式化sql -->
                <prop key="hibernate.format_sql">false</prop>
                <!-- 用于生成有助于调试的注释信息，默认为关闭 -->
                <prop key="hibernate.use_sql_comments">true</prop>
                <!-- 最大抓取深度，如果为0，则关闭默认的外连接抓取。建议值为0-3 -->
                <prop key="hibernate.max_fetch_depth">3</prop>
                <!-- 设定一次最多可以提交多少sql语句的上限,提高sql语句的执行效率，建议取5-30 -->
                <prop key="hibernate.jdbc.batch_size">20</prop>
                <!-- 设定读取数据的时候每次从数据库中取出的记录条数 -->
                <prop key="hibernate.jdbc.fetch_size">20</prop>
                <!-- 是否启用二级缓存 -->
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
            </props>
        </property>
    </bean>
    <bean id="oracleHibernateEntityManager" class="framework.dao.orm.hibernate.DefaultHibernate5OrmExecution">
        <constructor-arg ref="dbcp"/>
        <constructor-arg ref="sessionFactory"/>
        <constructor-arg>
            <bean id="mybaitsSqlMapExecution" class="framework.dao.sqlmapping.mybatis.DefaultMybaitsSqlMapExecution">
                <constructor-arg ref="dbcp"/>
                <constructor-arg>
                    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
                        <property name="dataSource" ref="dbcp"/>
                        <property name="mapperLocations">
                            <array>
                                <value>classpath*:org/entity/**/*.xml</value>
                            </array>
                        </property>
                        <property name="plugins">
                            <array>
                                <bean class="framework.dao.sqlmapping.mybatis.PaginationInterceptor"></bean>
                            </array>
                        </property>
                    </bean>
                </constructor-arg>
                <constructor-arg value="REUSE"></constructor-arg>
            </bean>
        </constructor-arg>
    </bean>
    <!-- 扫描Service组件 -->
    <context:component-scan
            base-package="org.service"/>
    <!-- 扫描componet组件-->
    <context:component-scan base-package="org.common.helper"/>
    <!--扫描componet组件 -->
    <context:component-scan base-package="org.assemble"/>
</beans>
